@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

:root {
    --pastel-red: #ff6961;
    --pastel-green: #77dd77;
    --pastel-blue: #89cff0;
    --purple: #a084ce;
}

html,
body,
#root {
    margin: 0;
    font-family: "Open Sans", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: #f9f9f9;
    min-height: 100vh;
}

a,
a:visited {
    color: var(--purple);
}

.transitions {
    p {
        margin-bottom: 0;
    }
}

.table-row {
    display: flex;
    flex-direction: row;
}

.table-cell,
.transition-cell {
    width: 3rem;
    height: 3rem;
    margin: 1px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.transition-header,
.table-header {
    font-weight: bold;
}

.invalid-input {
    border: 1px solid var(--pastel-red);
}

.transition-cell input {
    width: 2rem;
}

.hopcroft-header,
.hopcroft-cell {
    padding-left: 10px;
    height: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hopcroft-header {
    padding: 0 10px;
    border-right: 1px solid black;
    width: 45px;
}

.input-container,
.input-fields-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h3.input-header {
        margin-bottom: 0;
    }
}

.alphabet-input {
    margin: 1rem 0;
    max-width: 250px;
    display: flex;
    flex-direction: column;
}

.dfa-inputs-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.states-input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    margin: 1rem;
    border: 1px solid grey;
    border-radius: 6px;

    .states-input {
        max-width: 250px;
        display: flex;
        flex-direction: column;

        input {
            margin-bottom: 2rem;
        }
    }
}

.indicator {
    font-size: 1.5rem;
}

.invalid-indicator {
    color: var(--pastel-red);
}

.valid-indicator {
    color: var(--pastel-green);
}

.disabled-link {
    cursor: default;
}

.table-filling-table,
.hopcroft-table,
.headless-table {
    border: 1px solid black;
    border-radius: 4px;
    padding: 10px;
}

.headless-table {
    min-width: 550px;
}

.log {
    min-height: 200px;
    max-height: 200px;
    width: 400px;
    overflow: auto;
    display: flex;
    border: 1px solid #a0a0a0;
    border-radius: 4px;
    overflow-y: scroll;
    flex-direction: column-reverse;
    padding: 10px;

    .log-placeholder {
        flex: 1;
        color: #a0a0a0;
        margin: 0;
    }
}

.algorithm-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.switch-option {
    position: relative;
    bottom: 8px;
    margin: 0 5px;
    width: 150px;
    display: inline-block;

    .info-tooltip {
        position: relative;
        top: 1px;
    }
}

.left-align {
    text-align: left;
}

.right-align {
    text-align: right;
}

.info-tooltip {
    background: var(--pastel-blue);
    width: 1rem;
    height: 1rem;
    display: inline-block;
    color: white;
    font-size: 1em;
    line-height: 1em;
    margin-left: 0.3em;
    border-radius: 0.75em;
    text-align: center;

    &.header-tooltip {
        height: inherit;
        width: 1.2rem;
    }
}

.__react_component_tooltip.show {
    opacity: 1 !important;
}

.pre-generated-inputs {
    display: flex;
    flex-direction: column;
}

.algorithm-picker {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background: #e3e3e3;
    text-align: left;
    padding: 10px;
    border-radius: 4px;

    label {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        border-radius: 4px;
        margin: 5px 10px;
        padding: 5px 10px 5px 15px;
        height: 2rem;
        border: 1px solid black;

        &.disabled-algorithm {
            color: #a0a0a0;
            background-color: #ccc;
            border: 1px solid #a0a0a0;
            cursor: not-allowed;
        }
    }
}

.headless-runner {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.headless-header,
.headless-cell {
    padding-left: 10px;
    height: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.headless-cell {
    flex: 1;
    line-height: 1;
}

.headless-header {
    padding: 0 10px;
    border-right: 1px solid black;
    width: 250px;
}

.file-input {
    display: none;
}

.file-input-label {
    button {
        pointer-events: none;
        width: 100%;
        height: 100%;
    }
}

footer {
    margin: auto 0 5vh;
    font-size: 14px;
    color: #a0a0a0;
    float: bottom;
}
