@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

:root {
    --pastel-red: #ff6961;
    --pastel-green: #77dd77;
    --pastel-blue: #89cff0;
    --purple: #a084ce;
}

html,
body,
#root {
    margin: 0 auto;
    font-family: "Open Sans", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: #f9f9f9;
    min-height: 100vh;
}

a,
a:visited {
    color: var(--purple);
    text-decoration: none;
}

input[type="text"] {
    padding-left: 3px;
    border-radius: 2px;
}

.page-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.transitions {
    p {
        margin-bottom: 0;
    }
}

.table-row {
    display: flex;
    flex-direction: row;
}

.table-cell,
.transition-cell {
    width: 3rem;
    height: 3rem;
    margin: 1px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow-x: auto;
}

.transition-header,
.table-header {
    font-weight: bold;
}

.invalid-input {
    border: 1px solid var(--pastel-red);
}

.transition-cell input {
    width: 2rem;
}

.visualization-header,
.visualization-cell {
    padding-left: 10px;
    min-height: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow-x: auto;
}

.visualization-cell {
    text-align: left;
}

.visualization-header {
    padding: 0 10px;
    border-right: 1px solid black;
    min-width: 100px;
    max-width: 100px;
}

.nearly-linear-sets .table-row .visualization-header {
    width: 100px;
}

.nearly-linear-stack,
.nearly-linear-queue {
    display: inline-flex;
    border: 1px solid black;
    border-radius: 4px;

    div {
        padding: 10px;
        border: 1px solid black;
    }
}

.nearly-linear-stack {
    flex-direction: column;
}

.nearly-linear-queue {
    flex-direction: row;
}

.input-fields-container h3.input-header {
    margin-bottom: 0;
}

.alphabet-input {
    margin: 1rem 0;
    max-width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dfa-inputs-container {
    display: flex;
    flex-direction: row;
    justify-content: center;

    :first-child .states-input-container {
        margin-left: auto;
    }
    :last-child .states-input-container {
        margin-right: auto;
    }
}

.states-input-container {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    margin: 1rem;
    border: 1px solid grey;
    border-radius: 6px;
    width: 500px;
    overflow: auto;

    div {
        margin: auto;
    }

    .states-input {
        max-width: 170px;
        display: flex;
        flex-direction: column;

        input {
            margin-bottom: 2rem;
        }
    }
}

.indicator {
    font-size: 1.5rem;
}

.invalid-indicator {
    color: var(--pastel-red);
}

.valid-indicator {
    color: var(--pastel-green);
}

.disabled-link {
    cursor: default;
}

.table-filling-table,
.visualization-table,
.headless-table {
    border: 1px solid black;
    border-radius: 4px;
    padding: 10px;
    display: inline-flex;
    flex-direction: column;
}

.headless-table {
    min-width: 550px;
}

.log {
    min-height: 200px;
    max-height: 200px;
    width: 400px;
    overflow: auto;
    display: flex;
    border: 1px solid #a0a0a0;
    border-radius: 4px;
    overflow-y: scroll;
    flex-direction: column-reverse;
    padding: 10px;

    .log-placeholder {
        flex: 1;
        color: #a0a0a0;
        margin: 0;
    }
}

.algorithm-container,
.table-filling-visualization {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.switch-option {
    position: relative;
    bottom: 8px;
    margin: 0 5px;
    width: 150px;
    display: inline-block;

    .info-tooltip {
        position: relative;
        top: 1px;
    }
}

.left-align {
    text-align: left;
}

.right-align {
    text-align: right;
}

.info-tooltip {
    background: var(--pastel-blue);
    width: 1rem;
    height: 1rem;
    display: inline-block;
    color: white;
    font-size: 1em;
    line-height: 1em;
    margin-left: 0.3em;
    border-radius: 0.75em;
    text-align: center;

    &.header-tooltip {
        height: inherit;
        width: 1.2rem;
    }
}

.__react_component_tooltip.show {
    opacity: 1 !important;
}

.pre-generated-inputs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    a {
        width: 100%;
    }

    button {
        width: 75%;
        height: 40px;
        padding: 5px;
    }
}

.algorithm-picker-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.algorithm-picker {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background: #e3e3e3;
    text-align: left;
    padding: 10px;
    border-radius: 4px;
    width: 525px;

    label {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        border-radius: 4px;
        margin: 5px 10px;
        padding: 5px 10px 5px 15px;
        height: 2rem;
        border: 1px solid black;

        &.disabled-algorithm {
            color: #a0a0a0;
            background-color: #ccc;
            border: 1px solid #a0a0a0;
            cursor: not-allowed;
        }
    }
}

.headless-runner {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.headless-header,
.headless-cell {
    padding-left: 10px;
    height: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.headless-cell {
    flex: 1;
    line-height: 1;
}

.headless-header {
    padding: 0 10px;
    border-right: 1px solid black;
    width: 250px;
}

.file-input {
    display: none;
}

.file-input-label {
    width: 100%;
    height: 100%;
    margin: -8px -21px;
    padding: 8px 21px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.dataset-generators-container {
    display: flex;
    flex-direction: row;
    padding: 10px;
}

.dataset-generator {
    padding: 10px;
    margin: 5px 30px;
    border: 1px solid black;
    background: #e3e3e3;
    border-radius: 4px;

    h3 {
        margin: 10px 0;
    }

    .dataset-mode-select {
        display: flex;
        flex-direction: column;
    }

    .dataset-parameters {
        display: flex;
        flex-direction: column;
        align-items: center;

        input {
            max-width: 50px;
        }
    }

    .log {
        width: 200px;
        height: 100px;
        margin: 10px 0 0 0;

        p {
            margin: 5px 0;
        }
    }
}

footer {
    margin: auto 0 5vh;
    font-size: 14px;
    color: #a0a0a0;
    float: bottom;
}

button {
    $color: #eee;
    background-color: $color;
    background-image: linear-gradient(-45deg, $color, saturate(adjust-hue($color, -15%), 10%));
    border-top-color: lighten($color, 20%);
    border-left-color: lighten($color, 6%);
    border-right-color: lighten($color, 6%);
    border-bottom-color: darken($color, 20%);

    margin: 6px;
    padding: 8px 21px;
    border-width: 1px;
    border-radius: 0.25em;
    cursor: pointer;
    user-select: none;

    &:disabled {
        cursor: not-allowed;
        opacity: 0.6;
    }

    &:hover {
        background-image: linear-gradient(
            -45deg,
            lighten($color, 2%),
            lighten(saturate(adjust-hue($color, -15%), 10%), 2%)
        );
    }

    &:active {
        color: darken($color, 20%);
        text-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
        background-color: darken($color, 2%);
        border-top-color: darken($color, 20%);
        border-left-color: darken($color, 6%);
        border-right-color: darken($color, 6%);
        border-bottom-color: darken($color, 6%);
    }
}

.help {
    h3,
    h4 {
        margin-bottom: 5px;
    }

    p {
        margin-top: 5px;
    }
}

.dfa-visualization {
    max-width: 45vw;
    overflow: auto;

    .starting-state {
        fill: var(--pastel-red);
        background-color: var(--pastel-red);
        stroke-width: 2;
    }
}

.single-visualization {
    max-width: 90vw;
}
.double-visualization {
    max-width: 45vw;
}

.algorithm-visualization-container {
    display: flex;
    flex-direction: column;
    .algorithm-input-visualization {
        display: flex;
        justify-content: center;
    }
}

.input-visualization-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
