@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
:root {
    --pastel-red: #ff6961;
    --pastel-green: #77dd77;
    --pastel-blue: #89cff0;
}

body {
    margin: 0;
    font-family: "Open Sans", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: #f9f9f9;
}

.transitions {
    p {
        margin-bottom: 0;
    }
}

.table-filling-row,
.transition-row {
    display: flex;
    flex-direction: row;
}

.table-filling-cell,
.transition-cell {
    width: 3rem;
    height: 3rem;
    margin: 1px;
    //border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.transition-header,
.table-filling-header {
    font-weight: bold;
}

.invalid-input {
    border: 1px solid var(--pastel-red);
}

.transition-cell input {
    width: 2rem;
}

.input-container,
.input-fields-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h3.input-header {
        margin-bottom: 0;
    }
}

.alphabet-input {
    margin: 1rem 0;
    max-width: 250px;
    display: flex;
    flex-direction: column;
}

.dfa-inputs-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.dfa-input {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    margin: 1rem;
    border: 1px solid grey;
    border-radius: 6px;

    .dfa-fields-container {
        max-width: 250px;
        display: flex;
        flex-direction: column;

        input {
            margin-bottom: 2rem;
        }
    }
}

.invalid-indicator,
.valid-indicator {
    font-size: 1.5rem;
}

.invalid-indicator {
    color: var(--pastel-red);
}
.valid-indicator {
    color: var(--pastel-green);
}

.disabled-link {
    cursor: default;
}

.table-filling-table {
    border: 1px solid black;
    border-radius: 4px;
    padding: 10px;
}

.algorithm-log {
    max-height: 200px;
    width: 400px;
    overflow: auto;
    display: flex;
    flex-direction: column-reverse;
}

.algorithm-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.algorithm-mode-option {
    position: relative;
    bottom: 8px;
    margin: 0 5px;
}

.info-tooltip {
    background: var(--pastel-blue);
    width: 1rem;
    height: 1rem;
    display: inline-block;
    color: white;
    font-size: 1em;
    line-height: 1em;
    margin-left: 0.3em;
    border-radius: 0.75em;
}

.__react_component_tooltip.show {
    opacity: 1 !important;
}
