body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.table-filling-row, .transition-row {
  display: flex;
  flex-direction: row;
}

.table-filling-cell {
  width: 10rem;
  height: 3rem;
}

.transition-header {
  font-weight: bold;
}

.invalid-input {
  border: 1px solid red;
}

.transitions {
  margin: 0 auto;
}

.transition-cell {
  width: 3rem;
  height: 3rem;
  margin: 1px;
  input {
    width:2rem;
  }
}

.inputs-container {
  display: flex;
  flex-direction: row;
}

.dfa-input {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  margin: 1rem;
  border: 1px solid grey;
  border-radius: 6px;

  .input-fields {
    max-width: 250px;
    display: flex;
    flex-direction: column;
    input {
      margin-bottom: 2rem;
    }
  }

}